* {
  margin: 0;
  padding: 0;
}

.subscribe-section {
  text-align: center;
}

.subscribe-section button {
  margin: 20px;
  padding: 10px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  cursor: pointer;
}
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal h2 {
  padding-top: 0.5rem;
}
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 30%;
  background-color: white;
}
.modal button {
  padding: 10px 30px;
  background-color: #2980b9;
  color: white;
  border: none;
  cursor: pointer;
}
.modal .modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 1rem;
}
